@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}

html, body {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 300px;
  min-height: 600px;
  background: #F7F7F7;

  margin-top: 50px;
  margin-bottom: 50px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, h2, h3, p, a, input, button, textarea {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

p {
  cursor: default;
}

input, button, textarea {
  border: 0;
  outline: none;
  resize: none;
}

.black-c {
  color: #000;
}

.red-c {
  color: #EB5757;
}

.container {
  max-width: 500px;
  overflow-y: auto;
}

.container .information {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 15px;
}

.container .information .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .information .logo p {
  font-size: 50px;
  font-weight: 900;
}

.container .information .logo p:not(:last-child) {
  margin-right: 0;
}

.container .information .logo p:not(:first-child) {
  margin-left: 0;
}

.container .description p {
  color: #828282;
  font-size: 15px;
  font-weight: 500;

  width: 292px;
  text-align: center;
}

.container .data-container {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.container .data-container .loading-result {
  width: 32px;
  height: auto;

  margin-top: 20px;
}

.container .data-container .ri {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 40px;
  width: 250px;

  padding: 15px;
  margin-top: 15px;

  border-radius: 15px;
  background: #E8E8E8;
}

.container .data-container .ri .ri-name {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}

.container .data-container .ri a {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 100%;
  background: #C6C6C6;
}

.container .data-container .ri img {
  width: 15px;
  height: auto;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 15px;
}

.container form textarea {
  font-weight: 400;
  font-size: 15px;
  color: #000;

  width: 250px;
  height: 150px;

  padding: 15px;
  background: #E5E5E5;
  border-radius: 15px;
}

.container form button {
  padding: 15px;
  margin-top: 15px;

  color: #fff;
  font-size: 15px;
  font-weight: 500;

  border-radius: 12px;
  background: #EB5757;
}

.container .ri-button {
  padding: 15px;
  margin-top: 15px;

  color: #fff;
  font-size: 15px;
  font-weight: 500;

  border-radius: 12px;
  background: #EB5757;
}

.container .text-error {
  font-weight: 600;
  font-size: 12px;
  color: #000;
}
